*{
    margin:0;
    padding:0;

}
body{
    background-color: lightgray;
}


.col1{
    display:flex;
    position:relative;
    justify-content: space-evenly;
    
}
.col2{
    
}
.container{
    display:flex;
}


ul{
    list-style-type: none;
}

.logo{
    max-width: 5%;
}

.logo-text{
    white-space: nowrap;
    padding: 1rem;
    font-family: 'Times New Roman';
    color: rgb(255, 255, 255);
}
.navbar{
    height:70px
}

.nav-item {
    margin-top: 0rem;
    margin-left: 10rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.d-flex {
    margin-left: 5rem;
}

.btn {
    margin-left: .4rem;
}

h1 {
    font-family: 'Times New Roman';
    color: black;
    text-align: center;
}
h2 {
    font-family: 'Times New Roman';
    font-size: 1.5rem;
    padding-left: .5rem;
}

h3 {
    font-family: 'Times New Roman';
    white-space: nowrap;
}

h4 {
    font-family: 'Times New Roman';
    white-space: nowrap;
}
p {
    white-space: nowrap;
}
.nav-footer {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    font-weight: .3rem;
    margin-top: .4rem;
}
.footer1 {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0rem;
    width: 100%;
    height: 40px;
}

.navbar-text {
    font-family: 'Times New Roman';
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: .3rem;
    color: white;
}

.social {
    margin-top: .4rem;
}
.big-tv-image{
    background-color:darkgrey;
    display:flex;
    padding:1%;
    margin-top:20%;
    width:100%;
    
   
}
#big-tv{
    max-width:25rem;
    padding:10%;
    
    
}



.popular-items-ul{
    display:flex;
    margin-left: 3rem;
    background-color:darkgray;
    padding:5%;
    justify-content: space-evenly;
    flex-direction:row;

}

.popular-items{
    margin-top:15%;
}

#tv1{
    width: 15rem;
    height:auto;
    padding:10%;
    
}
#tv2{
    width:15rem;
    height:auto;
    padding:10%;
    
}
#tv3{
    width:15rem;
    height:auto;
    padding:10%;
}
.popular-items-h3{
    text-align:center;

}

.deal-of-day{
    width:50%;
    position:relative;
    
}

.deals{
    background-color:darkgray;
    max-width:90%;
    text-align:center;
    margin-left:50px;
    
    

}

.item-description{
    background-color:darkgray;
    
}

.footer{
    display:flex;
    
}
.socialul{
    display:flex;
    
}

.fa-brands{
    padding:1rem;
    padding-top:1rem
    
}

.nav-item{
    padding-top:10px;
}

.fa-chevron-left{
    margin-top:10rem;
    width:5rem;
}
.right-arrow{
    margin-top:10rem;
    width:5rem;
}

.footer1{
    display:flex;
    justify-content: space-between;
}


/* 
------about me----------- */

.image-container-div{
    display:flex;
}

.about-image-1{
    width:50%;
    height:auto;
    margin-left:100%;
    margin-top: 50%;
    padding:5px;
}

.about-image-2{
    width:50%;
    height:auto;
    margin-left:300%;
    margin-top:50%
}

.aboutme-col1{
    width:50%;
    text-align:center;
    background-color:darkgray;
    padding:10px;
    margin-right:50px;
    white-space: normal;
   
    
}
.aboutme-col2{
    width:50%;
    text-align:center;
    background-color:darkgray;
    padding:10px;
    margin-right:50px;
   
    }

.aboutme-p-wrapper{
    display:flex;

}
p{
    white-space:normal;
}